.default-section-title-block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: calc(var(--index) * 1);
}

.default-section-title-block h1 {
    font-family: 'f2', sans-serif;
    font-weight: normal;
    font-size: var(--default-title-size);
}

.default-section-title-block p {
    font-family: 'f1', sans-serif;
    font-weight: normal;
    font-size: calc(var(--default-text-size) * 1.1);
    opacity: 0.5;
    line-height: 2;
}


@media (max-width: 960px) {
    .default-section-title-block {
        grid-template-columns: 1fr;
        grid-row-gap: calc(var(--index) * 1.5);
    }

    .default-section-title-block p {
        line-height: normal;
    }
}