.mini-about-home-page {
    padding: 0 calc(var(--default-section-padding) * 4);
    background-image: linear-gradient(0turn, rgba(52, 87, 213, 0) 0%, rgba(52, 87, 213, 0.3) 51%, rgba(255, 247, 5, 0) 100%);
    display: flex;
    flex-direction: column;
    gap: calc(var(--index) * 2);
}

.mini-about-home-page-content {
    display: flex;
    flex-direction: column;
    gap: calc(var(--index) * 1);
}

.mini-about-home-page-content-block-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: calc(var(--index) * 1);
    grid-row-gap: calc(var(--index) * 1);
}

.mini-about-home-page-content-footer-block {
    background: var(--main-color);
    border-radius: 10px;
    padding: calc(var(--default-section-padding) * 3);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: calc(var(--index) * 1);
}

.mini-about-home-page-content-footer-block h1 {
    font-family: 'f1', sans-serif;
    font-weight: normal;
    font-size: calc(var(--default-title-size) * .65);
    line-height: 1.2;
}

.mini-about-home-page-content-footer-block p {
    display: flex;
    flex-direction: column;
    gap: calc(var(--index) * .5);
}

.mini-about-home-page-content-footer-block p span {
    font-size: calc(var(--default-text-size) * 1.1);
    line-height: 2;
}

.mini-about-home-page-content-footer-block p img {
    width: calc(var(--index) * 7);
}


@media (max-width: 960px) {
    .mini-about-home-page {
        padding: calc(var(--default-section-padding));
    }

    .mini-about-home-page-content-block-content {
        grid-template-columns: 1fr;
        grid-row-gap: calc(var(--index) * 1);
    }

    .mini-about-home-page-content-footer-block {
        grid-template-columns: 1fr;
        grid-row-gap: calc(var(--index) * 2);
    }

    .mini-about-home-page-content-footer-block p {
        flex-direction: row;
        align-items: center;
        gap: calc(var(--index) * 1);
        justify-content: end;
    }
}